<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Kirjautuminen</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<div class="form-container">
    <h2 class="form-heading">Kirjaudu</h2>

    <div th:if="${error}" class="error-message">
        <p th:text="${error}"></p>
    </div>

    <form th:action="@{/login}" method="post">
        <div class="form-field">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required />
        </div>
        <div class="form-field">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required />
        </div>
        <button type="submit" class="add-task-button">Kirjaudu</button>
    </form>

    <div class="register-link">
        <p><a th:href="@{/register}">Rekisteröidy</a></p>
    </div>
</div>
</body>
</html>