<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Rekisteröityminen</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div class="form-container">
    <h2 class="form-heading">Rekisteröidy</h2>

    <div th:if="${error}" class="error-message">
        <p th:text="${error}"></p>
    </div>

    <form th:action="@{/register}" th:object="${user}" method="post">
        <div class="form-field">
            <label for="username">Username:</label>
            <input type="text" id="username" th:field="*{username}" required />
        </div>
        <div class="form-field">
            <label for="password">Password:</label>
            <input type="password" id="password" th:field="*{password}" required />
        </div>
        <button type="submit" class="submit-button">Rekisteröidy</button>
    </form>
</div>
</body>
</html>